.emaillist{
    overflow: scroll;
}

.emaillist::-webkit-scrollbar {
    display: none;
}

.emaillist {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.emaillist__settings {
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}

.emaillist__sections {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}
    
.emaillist__List {
    padding-bottom: 20%;
}